<div class="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="/dashboard">
          RBT SUDOKU
        </a>
      </li>
      <li><a ui-sref="dashboard.one">Game</a></li>
      <li><a ui-sref="dashboard.two">Profile</a></li>
      <li><a ui-sref="dashboard.three">History</a></li>
      <li class="sidebar-footer"><a href="/dashboard">Log-out</a></li>
    </ul>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12" ui-view>
        </div>
      </div>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->


