<div class="container" id="wrapper">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">History</div>

        <!-- Table -->
        <table class="table text-center">
            <tr>
              <th>Score</th>
              <th>Level</th>
              <th>Total Time</th>
            </tr>
            <tr class="label-danger">
              <td>100</td>
              <td>High</td>
              <td>1:22</td>
            </tr>
          <tr class="label-warning">
            <td>50</td>
            <td>Mid</td>
            <td>1:11</td>
          </tr>
          <tr class="label-success">
            <td>10</td>
            <td>Low</td>
            <td>1:00</td>
          </tr>
        </table>
    </div>
</div>