<div class="container" id="wrapper">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">User Name: @userName</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-2 col-md-4 col-lg-3" align="center"><img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>
          <div class="col-md-9 col-lg-9">
            <table class="table table-user-information">
              <tbody>
              <tr>
                <td>Best Score:</td>
                <td>@bestScore</td>
              </tr>
              <tr>
                <td>First Name:</td>
                <td>@firstName</td>
              </tr>
              <tr>
                <td>Last Name:</td>
                <td>@lastName</td>
              </tr>
              <tr>
                <td>Cell Phone</td>
                <td>@cellPhone</td>
              </tr>
              <tr>
                <td>Email</td>
                <td><a href="#">@email</a></td>
              </tr>
              <tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-12">
            <h5>Change password</h5>
          <form class="form-inline">
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" required="">
            </div>
            <div class="form-group">
              <button class="btn btn-danger" type="submit">Submit change</button>
            </div>
          </form>
          </div>
        </div>
      </div>
   </div>
  </div>
</div>