// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.custom-label{
    color: blue;
    border: 2px solid 2px;
    border-radius: 2px;
  &{
    padding: 0 0.2em 0 0.2em;
  }
}
